@media screen and (min-width: 576px) and (max-width: 767px){
    .header, .content {
        min-width: 576px;
    }

    .head-logo, .inner, .content-inner {
        width: 576px;
        margin: 0 auto;
    }

    .content-inner {
        padding: 35px 0;
    }

    .content-inner img {
        margin: 15px 20px 15px 30px;
    }

    .content-inner h1 {
         font-size: 3vw;
     }

    .personal, .projects {
        margin-top: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .header, .content{
        min-width: 768px;
    }

    .head-logo, .inner, .content-inner{
        width: 768px;
        margin: 0 auto;
    }

    .content-inner {
        padding: 35px 0;
    }

    .content-inner img {
        margin: 20px 30px 0 30px;
    }

    .projects {
        margin-left: 0;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .header, .content{
        min-width: 992px;
    }

    .head-logo, .inner, .content-inner{
        width: 992px;
        margin: 0 auto;
    }

    .content-inner {
        height: 300px;
        padding: 30px 0;
    }

    .content-inner h1 {
        margin-left: 0;
    }

    .content-inner img{
        margin: 0 40px;
    }

    .personal, .projects {
        margin-top: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .header, .content{
        min-width: 1200px;
    }

    .head-logo, .inner, .content-inner{
        width: 1200px;
        margin: 0 auto;
    }

    .content-inner {
        padding: 40px 0;
        height: 330px;
    }

    .content-inner img {
        margin: 20px;
    }

    .content-inner h1 {
        text-align: center;
    }

    .personal, .projects {
        margin-left: 40px;
    }
}