body {
    font-family: Roboto, sans-serif;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 73px;
    min-width: 1260px;
    color: ivory;
    background: firebrick;
}

.head-logo {
    width: 1260px;
    margin: 0 auto;
    cursor: default;
}

.header h1{
    margin: 15px 0;
}

.hl img {
    height: 50px;
    width: auto;
    margin-top: 10px;
}

.hl {
    float: left;
    margin-left: 16px;
}

.head-logo input {
    float: right;
    border-radius: 20px;
    padding: 5px;
    margin: 20px;
}

.head-menu {
    width: auto;
    margin: 73px 0 auto;
    background-color: #d22d2e;
    text-align: center;
}

.head-menu .inner {
    width: 1260px;
    margin: 0 auto;
}

.hm-item {
    display: inline-block;
    padding: 16px;
}

.hm-item:hover {
    background-color: #d24140;
}

.hm-item a, .nav-item a {
    text-decoration: none;
    color: ivory;
}

.intro {
    position: absolute;
    top: 124px;
    left: 0;
    width: 100%;
    display: block;
    height: 550px;
    min-width: 1260px;
    color: ivory;
    background: no-repeat url(img/int.jpg) center;
    padding: 16px 0;
}

.intro-inner{
    margin: 0 auto;
    width: 1260px;
}

.intro-left{
    width: 30%;
    float: left;
    display: inline-block;
}

.intro-right {
    width: 50%;
    float: right;
    height: 400px;
    padding: 50px;
    display: inline-block;
    margin: auto 30px;
}

.intro .brand {
    padding: 40px;
    text-align: center;
    font-size: 70px;
    text-shadow: -2px -2px 2px rgba(255,255,255,0.2), 2px 2px 2px rgba(255,255,255,0.2), 1px 1px 1px rgba(0,0,0,0.7);
}

.intro .info {
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgba(220, 200, 240, 0.3);
    border-radius: 10px;
}

.intro .info p {
    margin: 0;
}

.nav {
    margin: 0 auto;
}

.nav-item {
    display: block;
    margin: 16px;
    padding: 16px;
    text-align: center;
}

.nav-item img {
    width: 100px;
    height: 100px;
}

.nav-item:hover{
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
}

.content{
    position: absolute;
    top: 706px;
    left: 0;
    min-width: 1260px;
    display: block;
    width: 100%;
    padding: 20px 0;
}

.content-inner {
    width: 1260px;
    margin: 0 auto;
    text-align: center;
}

.con-item {
    position: relative;
    width: 350px;
    height: 180px;
    border: 1px solid silver;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 5px 4px rgba(0,0,0,0.4);

    display: inline-block;
    margin: 15px;
    text-align: left;
    vertical-align: top;
}

.ci-top {
    background-color: rgba(225, 69, 69, 0.55);
}

.ci-bottom {
    background-color: rgba(225, 69, 69, 0.45);
}

.con-item img {
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin: 0 10px;
}

.con-item:hover{
    box-shadow: 0 3px 2px rgba(0,0,0,0.4);
    background-color: rgba(225, 69, 69, 0.35);
}

.con-item h3{
    margin: 0;
}

.footer {
    position: absolute;
    top: 1330px;
    left: 0;
    border-top: 20px solid firebrick;
    background-color: #560808;
    color: ivory;
    width: 100%;
}

.footer-inner {
    width: 1260px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.footer-inner a {
    text-decoration: none;
    color: ivory;
}

.footer-inner ul{
    list-style-type: none;
}